<!-- div for the entire right panel -->
<div id="commentPanel" class="container" style="padding-top: 75px;">

  <!-- comment box -->
  <div class="panel panel-default" ng-repeat="box in boxes track by $index">
    <!-- string of text associated with the comment box -->
    <div class="commentedText">{{ box.commentedText }}</div>
    <!-- entries in the comment box -->
    <div class="panel" ng-repeat="entry in box.entries">
      <div class="Entry">
        <div class="commenterImage">
          <img ng-src="{{ entry.pictureId }}">
          {{ entry.username }}
        </div>
        <div class="commentText">
          <p class="">{{ entry.comment }}</p>
          <span class="date sub-text">{{ entry.updatedAt }}</span>
        </div>
      </div>
    </div>

    <form class="form-inline" ng-submit="addCommentEntry($index)" role="form">
      <div class="form-group">
        <!-- the model is not linking with the controller -->
        <input class="form-control" type="text" placeholder="Your comments" ng-model="box.newCommentText"/>
      </div>
      <div class="form-group">
        <button class="btn btn-default">Add</button>
      </div>
    </form>

  </div>

</div>
