<!-- div for the entire right panel -->
<div id="commentPanel" style='padding-top:75px;'>

  <!-- comment box -->
  <div class="panel panel-default" ng-repeat="box in boxes">
    <!-- string of text associated with the comment box -->
    <div class="commentedText">{{ box.commentedText }}</div>
    <!-- entries in the comment box -->
    <div class="panel" ng-repeat="entry in box.entries">
      <div class="Entry">
        <div class="commenterImage">
          User: {{ entry.username }} 
        </div>
        <div class="commentText">
          <p class="">Comment: {{ entry.comment }}</p>
          <span class="date sub-text">[DATE]</span>
        </div>
      </div>
    </div>

    <form class="form-inline" ng-submit="addCommentEntry()" role="form">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Your comments" ng-model="entry.comment"/>
      </div>
      <div class="form-group">
        <button class="btn btn-default">Add</button>
      </div>
    </form>
  </div>

</div>
