<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Context Comments</h1>
    <p class="lead">Make online discussions suck less</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>


  <form class="thing-form">
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Enter link to discuss here" ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

